A little bit of segue on the previous notebook, I've recreated another jupyter to explore more on matrix factorization for collaborative filtering without the use of TF (did gone overboard with previous notebook)

Goal in mind being using numpy and scipy for mf svd or nmf with a little bit more control on matrix factorization for different federated clients as I'll explore later.

In [80]:
from src.data_examples.ex2_data_loader import ExampleDataLoader

from enum import Enum, auto
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

from scipy.sparse.linalg import svds as scipy_svds

pd.options.mode.chained_assignment = None

In [81]:
RAND_SEED = 1337
np.random.seed(RAND_SEED)

In [82]:
data_loader = ExampleDataLoader()
data_loader.download().load().clean().remap().merge()

using cached file cache\datasets\movielens\ml-100k.zip
extracting zip file content:
file already exists: data\ex2\ml-100k
file already exists: data\ex2\ml-100k\allbut.pl
file already exists: data\ex2\ml-100k\mku.sh
file already exists: data\ex2\ml-100k\README
file already exists: data\ex2\ml-100k\u.data
file already exists: data\ex2\ml-100k\u.genre
file already exists: data\ex2\ml-100k\u.info
file already exists: data\ex2\ml-100k\u.item
file already exists: data\ex2\ml-100k\u.occupation
file already exists: data\ex2\ml-100k\u.user
file already exists: data\ex2\ml-100k\u1.base
file already exists: data\ex2\ml-100k\u1.test
file already exists: data\ex2\ml-100k\u2.base
file already exists: data\ex2\ml-100k\u2.test
file already exists: data\ex2\ml-100k\u3.base
file already exists: data\ex2\ml-100k\u3.test
file already exists: data\ex2\ml-100k\u4.base
file already exists: data\ex2\ml-100k\u4.test
file already exists: data\ex2\ml-100k\u5.base
file already exists: data\ex2\ml-100k\u5.test
file already exists: data\ex2\ml-100k\ua.base
file already exists: data\ex2\ml-100k\ua.test
file already exists: data\ex2\ml-100k\ub.base
file already exists: data\ex2\ml-100k\ub.test

c:\Python310\lib\site-packages\pandas\util\_decorators.py:311: ParserWarning: Both a converter and dtype were specified for column user_id - only the converter will be used.
  return func(*args, **kwargs)
c:\Python310\lib\site-packages\pandas\util\_decorators.py:311: ParserWarning: Both a converter and dtype were specified for column user_id - only the converter will be used.
  return func(*args, **kwargs)
c:\Python310\lib\site-packages\pandas\util\_decorators.py:311: ParserWarning: Both a converter and dtype were specified for column movie_id - only the converter will be used.
  return func(*args, **kwargs)
c:\Python310\lib\site-packages\pandas\util\_decorators.py:311: ParserWarning: Both a converter and dtype were specified for column movie_id - only the converter will be used.
  return func(*args, **kwargs)
c:\Python310\lib\site-packages\pandas\util\_decorators.py:311: ParserWarning: Both a converter and dtype were specified for column release_date - only the converter will be used.
  return func(*args, **kwargs)

In [83]:
# to trucate any other features outside of matrix factorization
# select only user_id, movie_id, and rating for our matrix

features_X = ['user_id', 'movie_id']
feature_Y = 'rating'

df_main = data_loader.df[features_X + [feature_Y]]


for feature in features_X:
  df_main[feature] = df_main[feature].astype('int32')

df_main

       user_id  movie_id  rating
0          195       241     0.2
1          304       241     0.6
2            5       241     0.4
3          233       241     0.4
4           62       241     0.2
...        ...       ...     ...
99995      862      1678     0.2
99996      862      1677    -0.2
99997      862      1679     0.0
99998      895      1680     0.2
99999      915      1681     0.2

[100000 rows x 3 columns]

In [84]:
def df_to_np_sparse_matrix(df, U_c, V_c, val_c):
  # pivot the data with movie_id as column to create sparse mxn matrix 
  df = df[[U_c, V_c, val_c]]
  df_pivot = df.pivot(index=U_c, columns=V_c, values=val_c).fillna(0)
  return df_pivot.values

def sparse_matrix_normalize(mat_sparse):
  # normalize matrix from means of axis 1
  mat_mean = np.mean(mat_sparse, axis=1)
  return (mat_sparse - mat_mean.reshape(-1, 1)), mat_mean

def eval_svd_factorization(df, U_c, V_c, val_c, latent_factor=25):
  mat_sparse = df_to_np_sparse_matrix(df_main, 'user_id', 'movie_id', 'rating')
  mat_sparse_norm, mat_sparse_mean = sparse_matrix_normalize(mat_sparse)

  U, sigma, Vt = scipy_svds(mat_sparse, k=latent_factor)
  sigma = np.diag(sigma)

  mat_prediction = np.dot(np.dot(U, sigma), Vt) + mat_sparse_mean.reshape(-1, 1)

  return mat_prediction, (U, sigma, Vt)

In [85]:
mat_pred, (U, sigma, Vt) = eval_svd_factorization(df_main, 'user_id', 'movie_id', 'rating', latent_factor=25)

df_pred = pd.DataFrame(mat_pred) 
df_pred # which will directly encodes user_id as index axis 1 and movie_id as columns

,0,1,2,3,4,5,6,7,8,9,...,1672,1673,1674,1675,1676,1677,1678,1679,1680,1681
0,0.591173,0.218883,0.216366,0.320632,0.074675,0.128291,0.496458,0.195799,0.381042,0.227432,...,0.050663,0.053200,0.050407,0.052081,0.052497,0.052149,0.052012,0.052081,0.054034,0.059397
1,0.239390,-0.008896,-0.025523,0.045449,0.015504,0.047360,0.121989,0.106183,0.207451,0.064969,...,0.012884,0.010631,0.013449,0.012604,0.011902,0.011734,0.013475,0.012604,0.013509,0.010338
2,0.042691,0.010405,0.026525,-0.016571,-0.013632,0.002582,-0.035287,-0.015781,-0.047577,0.009940,...,0.004925,0.003757,0.006038,0.005113,0.004857,0.003596,0.006630,0.005113,0.005093,0.005625
3,0.064871,-0.016956,0.025028,-0.014872,0.017362,0.010358,0.062990,-0.010724,0.058845,-0.002500,...,0.006617,0.005249,0.006122,0.006659,0.007138,0.005123,0.008194,0.006659,0.006491,0.006808
4,0.395072,0.085839,0.024492,0.187126,0.004489,0.000817,0.323427,0.142048,-0.114113,0.044969,...,0.017919,0.018186,0.017251,0.018193,0.016831,0.018249,0.018136,0.018193,0.019005,0.017480
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
938,0.339086,0.015353,0.011655,0.019144,0.056034,0.024695,0.145706,0.102731,0.168634,0.023343,...,0.014449,0.012582,0.014152,0.013199,0.013107,0.014511,0.011886,0.013199,0.013769,0.011267
939,0.044876,0.006287,-0.008784,0.220981,0.060224,0.013593,0.296255,0.238947,0.194064,0.010604,...,0.018983,0.023172,0.018715,0.018549,0.019140,0.017507,0.019591,0.018549,0.018872,0.017431
940,0.262788,0.015168,0.027576,0.006428,-0.001998,0.005935,0.189606,0.089612,0.125642,0.024956,...,0.004565,0.003910,0.005605,0.005351,0.006312,0.005493,0.005208,0.005351,0.006143,0.005221
941,0.135355,0.030077,-0.000674,0.020363,0.003278,0.003302,0.000714,0.173069,0.007655,0.024929,...,0.022885,0.023883,0.022420,0.021284,0.021475,0.019655,0.022914,0.021284,0.022923,0.020821
942,0.119960,0.169656,0.157890,0.275400,0.121056,0.044357,0.303851,0.029129,0.206809,-0.009823,...,0.028130,0.021148,0.029341,0.028181,0.028586,0.029337,0.027025,0.028181,0.028724,0.030147

In [126]:
from scipy.sparse import csr_array

sparse_df_main = csr_array((df_main['rating'].values, (df_main['user_id'].values, df_main['movie_id'].values))).toarray()
sparse_df_pred = df_pred.to_numpy()


mse = np.mean((sparse_df_main - sparse_df_pred)**2)
rmse = np.sqrt(mse)

print(f'centralized model -> rmse: {rmse:05f}\tmse: {mse:05f}')

centralized model -> rmse: 0.072413	mse: 0.005244

In [ ]:
np.sqrt(np.mean((df_pred)**2))

In [86]:
tgt_user_id = 420
n_movies = 15

pred_movie_ids = df_pred.iloc[tgt_user_id].sort_values(ascending=False)[:n_movies].index

# a movie string formatter, note: uses dataloader.df_movies
fmt_movie_printout = lambda movie_id: f'movie_id: {movie_id}'.ljust(17) + data_loader.df_movies.loc[movie_id]['title']

pred_movie_ids = df_main[df_main['user_id'] == tgt_user_id]['movie_id'] [:n_movies]
print('recommendtion')
for movie_id in pred_movie_ids:
  print(fmt_movie_printout(movie_id))

pred_movie_ids

recommendtion
movie_id: 237    Raising Arizona (1987)
movie_id: 172    Princess Bride, The (1987)
movie_id: 268    Full Monty, The (1997)
movie_id: 301    L.A. Confidential (1997)
movie_id: 332    Game, The (1997)
movie_id: 116    Rock, The (1996)
movie_id: 99     Fargo (1996)
movie_id: 78     Fugitive, The (1993)
movie_id: 97     Silence of the Lambs, The (1991)
movie_id: 55     Pulp Fiction (1994)
movie_id: 11     Usual Suspects, The (1995)
movie_id: 330    Edge, The (1997)
movie_id: 95     Terminator 2: Judgment Day (1991)
movie_id: 175    Aliens (1986)
movie_id: 207    Young Frankenstein (1974)

1007     237
5660     172
6192     268
6523     301
8476     332
10247    116
12017     99
14192     78
15887     97
16276     55
18593     11
19589    330
21931     95
22948    175
24126    207
Name: movie_id, dtype: int32

## Federated Learning with Clients (or Silos) Manager

In [87]:
global_latent_factor = 50

In [88]:
class DBKind(Enum):
  shared = auto()
  private = auto()

In [89]:
# crude emulation server-clients with ClientManager

class Client:
  def __init__(self, _uuid=None):
    self.__task_pool = []
    self.__private_dbs = {}
    self.__shared_dbs = {}
    self.__named_variables = {}
    if _uuid is None:
      self._uuid = id(self) # fallbacks to basically the address on memory of client object for the sake of simplicity
    else:
      self._uuid = _uuid

  # client uuid
  def get_uuid(self):
    return self._uuid

  # client tasks
  def clear_tasks(self):
    self.__task_pool.clear()

  def add_task(self, fn):
    self.__task_pool.append(fn)

  def run_tasks(self):
    for task in self.__task_pool:
      task(self)

  # client public named variables 
  def clear_named_variables(self):
    self.__named_variables.clear()

  def set_named_variable(self, name, value):
    self.__named_variables[name] = value

  def get_named_variable_value(self, name):
    return self.__named_variables.get(name)

  def get_named_variable_value_names(self):
    return self.__named_variables.keys()

  # client database connection (read: dataframe)
  def add_db(self, kind: DBKind, name, db):
    if kind == DBKind.shared:
      self.__shared_dbs[name] = db
    elif kind == DBKind.private:
      self.__private_dbs[name] = db

  def get_db(self, kind: DBKind, name):
    if kind == DBKind.shared:
      return self.__shared_dbs[name]
    elif kind == DBKind.private:
      return self.__private_dbs[name]


class ClientManager:
  def __init__(self):
    self._client_bucket = []
    self._client_uuids = []

  def new_client(self, _uuid=None):
    client = Client(_uuid=_uuid)
    self._client_bucket.append(client)
    self._client_uuids.append(client.get_uuid())
    if _uuid is None:
      client._uuid = id(client)
    else:
      client._uuid = _uuid
    return client

  def get_client_uuids(self):
    return self._client_uuids

  def get_client_by_uuid(self, _uuid):
    if _uuid not in self._client_uuids:
      return None
    return self._client_bucket[self._client_uuids.index(_uuid)]

  def force_run_tasks(self):
    for client in self._client_bucket:
      client.run_tasks()

  def force_clear_tasks(self):
    for client in self._client_bucket:
      client.clear_tasks()
    
  def force_clear_named_variabless(self):
    for client in self._client_bucket:
      client.clear_named_variables()

  def run_callback_on_clients(self, fn: callable, *args, **kwargs):
    for client in self._client_bucket:
      fn(client, *args, **kwargs)


# example
manager = ClientManager()
for _ in range(4):
  client = manager.new_client()
  client.add_task(lambda this: print(f'running task on client: printing uuid {this.get_uuid()}'))

print('client uuids:', manager.get_client_uuids())
manager.force_run_tasks()

client uuids: [1525212069360, 1525232134960, 1525232140240, 1525232136544]
running task on client: printing uuid 1525212069360
running task on client: printing uuid 1525232134960
running task on client: printing uuid 1525232140240
running task on client: printing uuid 1525232136544

### try federated learining from clusters of zipcodes

In [90]:
n_zip_code_clusters = 50

unique_zip_codes = data_loader.df_users['zip_code'].unique()
np.random.shuffle(unique_zip_codes)
unique_zip_codes_clusters = np.array_split(unique_zip_codes, n_zip_code_clusters)

C:\Users\62896\AppData\Local\Temp\ipykernel_37792\3644964744.py:4: UserWarning: you are shuffling a 'StringArray' object which is not a subclass of 'Sequence'; `shuffle` is not guaranteed to behave correctly. E.g., non-numpy array/tensor objects with view semantics may contain duplicates after shuffling.
  np.random.shuffle(unique_zip_codes)

In [91]:
user_ratings_headers = ['zip_code', 'user_id', 'movie_id', 'rating']

manager = ClientManager()

for zip_codes in unique_zip_codes_clusters:
  uuid_name = '-'.join(zip_codes[:3]) + '...'
  client_ref = manager.new_client(_uuid=uuid_name)

  client_ref.add_db(kind=DBKind.shared, name='df_movies', db=data_loader.df_movies)

  zip_code_mask = data_loader.df['zip_code'].apply(lambda x: x in zip_codes)
  private_df = data_loader.df[zip_code_mask]
  private_df = private_df[user_ratings_headers].copy()
  client_ref.add_db(kind=DBKind.private, name='df_user_ratings', db=private_df.sample(frac=1))

In [92]:
# inspec one of the client private user->ratings dataset

__client_ref = manager.get_client_by_uuid(manager.get_client_uuids()[0])
__client_ref.get_db(DBKind.private, 'df_user_ratings')

      zip_code user_id movie_id  rating
270      95403     737      392     0.2
77468    93109     405      518     0.4
96518    48446     450      936     0.4
93175    48446     450      306     0.4
94034    V3N4P     144      634     0.4
...        ...     ...      ...     ...
16592    92103     225      202     0.6
72326    93109     405      169     0.2
38205    92103     225      178     0.4
82462    11787     603      412     0.2
89879    92103     225      235     0.2

[1466 rows x 4 columns]

### adding svd fit tasks to each clients

In [93]:
# force clear task to prevent flooding of print statement or dupicate tasks in pool
manager.force_clear_tasks()

In [94]:
for client_uuid in manager.get_client_uuids():
  client_ref = manager.get_client_by_uuid(client_uuid)

  client_ref.add_task(
    lambda client: print(f'running task on client "{client.get_uuid()}" with num of participating users: {client.get_db(DBKind.private, "df_user_ratings")["user_id"].unique().shape[0]}')
  )

  client_ref.set_named_variable('latent_factor', global_latent_factor)

# try to run newly created print tasks on client
manager.force_run_tasks()

running task on client "62903-55038-49938..." with num of participating users: 16
running task on client "03060-11231-01701..." with num of participating users: 19
running task on client "97203-60657-34656..." with num of participating users: 18
running task on client "91903-20006-55409..." with num of participating users: 19
running task on client "94560-27713-97405..." with num of participating users: 22
running task on client "43017-70403-14476..." with num of participating users: 16
running task on client "80236-05146-20057..." with num of participating users: 16
running task on client "93063-11577-42141..." with num of participating users: 17
running task on client "04102-00000-33308..." with num of participating users: 19
running task on client "15237-60466-07039..." with num of participating users: 16
running task on client "15203-30068-55105..." with num of participating users: 25
running task on client "32712-60615-97215..." with num of participating users: 17
running task on client "80302-55408-92115..." with num of participating users: 20
running task on client "92660-44092-75240..." with num of participating users: 17
running task on client "06512-98801-08534..." with num of participating users: 17
running task on client "T8H1N-12180-33884..." with num of participating users: 19
running task on client "08610-98257-20003..." with num of participating users: 24
running task on client "20707-48103-10003..." with num of participating users: 24
running task on client "84103-91344-60440..." with num of participating users: 17
running task on client "Y1A6B-98620-55414..." with num of participating users: 24
running task on client "23237-75230-28450..." with num of participating users: 17
running task on client "92020-06333-26241..." with num of participating users: 21
running task on client "71701-19146-60402..." with num of participating users: 18
running task on client "90019-K7L5J-19382..." with num of participating users: 20
running task on client "91919-95064-79070..." with num of participating users: 18
running task on client "30030-92110-55428..." with num of participating users: 18
running task on client "44212-97229-84105..." with num of participating users: 20
running task on client "62901-59717-68767..." with num of participating users: 21
running task on client "99687-45439-95110..." with num of participating users: 18
running task on client "02176-85258-91351..." with num of participating users: 20
running task on client "92653-14085-93055..." with num of participating users: 16
running task on client "17036-39762-95076..." with num of participating users: 21
running task on client "14627-01002-44106..." with num of participating users: 22
running task on client "20015-07204-43215..." with num of participating users: 17
running task on client "10522-73013-97208..." with num of participating users: 19
running task on client "85233-28814-13210..." with num of participating users: 16
running task on client "94043-78739-22030..." with num of participating users: 19
running task on client "23092-13820-60630..." with num of participating users: 21
running task on client "12603-63119-33755..." with num of participating users: 20
running task on client "63130-94920-85032..." with num of participating users: 19
running task on client "50322-94551-60152..." with num of participating users: 18
running task on client "55109-16801-61820..." with num of participating users: 20
running task on client "30350-30329-77042..." with num of participating users: 17
running task on client "98038-85711-97302..." with num of participating users: 19
running task on client "99206-64118-90008..." with num of participating users: 18
running task on client "32605-48911-02125..." with num of participating users: 16
running task on client "90291-23227-14216..." with num of participating users: 17
running task on client "84116-20879-70116..." with num of participating users: 19
running task on client "37771-18053-91335..." with num of participating users: 17
running task on client "94533-66221-95821..." with num of participating users: 19

In [95]:
def task_eval_svd_factorization(client):
  print('begin factorization ...', end=' ')

  df = client.get_db(DBKind.private, 'df_user_ratings')
  latent_factor = client.get_named_variable_value('latent_factor')

  mat_pred, (U, sigma, Vt) = eval_svd_factorization(df, 'user_id', 'movie_id', 'rating', latent_factor=latent_factor)

  client.set_named_variable('local_prediction_matrix', mat_pred)
  client.set_named_variable('U', U)
  client.set_named_variable('sigma', sigma)
  client.set_named_variable('Vt', Vt)

  print('finished factorization\n')


for client_uuid in manager.get_client_uuids():
  client_ref = manager.get_client_by_uuid(client_uuid)
  client_ref.add_task(task_eval_svd_factorization)

In [96]:
# run all factorization tasks
manager.force_run_tasks()

running task on client "62903-55038-49938..." with num of participating users: 16
begin factorization ... finished factorization

running task on client "03060-11231-01701..." with num of participating users: 19
begin factorization ... finished factorization

running task on client "97203-60657-34656..." with num of participating users: 18
begin factorization ... finished factorization

running task on client "91903-20006-55409..." with num of participating users: 19
begin factorization ... finished factorization

running task on client "94560-27713-97405..." with num of participating users: 22
begin factorization ... finished factorization

running task on client "43017-70403-14476..." with num of participating users: 16
begin factorization ... finished factorization

running task on client "80236-05146-20057..." with num of participating users: 16
begin factorization ... finished factorization

running task on client "93063-11577-42141..." with num of participating users: 17
begin factorization ... finished factorization

running task on client "04102-00000-33308..." with num of participating users: 19
begin factorization ... finished factorization

running task on client "15237-60466-07039..." with num of participating users: 16
begin factorization ... finished factorization

running task on client "15203-30068-55105..." with num of participating users: 25
begin factorization ... finished factorization

running task on client "32712-60615-97215..." with num of participating users: 17
begin factorization ... finished factorization

running task on client "80302-55408-92115..." with num of participating users: 20
begin factorization ... finished factorization

running task on client "92660-44092-75240..." with num of participating users: 17
begin factorization ... finished factorization

running task on client "06512-98801-08534..." with num of participating users: 17
begin factorization ... finished factorization

running task on client "T8H1N-12180-33884..." with num of participating users: 19
begin factorization ... finished factorization

running task on client "08610-98257-20003..." with num of participating users: 24
begin factorization ... finished factorization

running task on client "20707-48103-10003..." with num of participating users: 24
begin factorization ... finished factorization

running task on client "84103-91344-60440..." with num of participating users: 17
begin factorization ... finished factorization

running task on client "Y1A6B-98620-55414..." with num of participating users: 24
begin factorization ... finished factorization

running task on client "23237-75230-28450..." with num of participating users: 17
begin factorization ... finished factorization

running task on client "92020-06333-26241..." with num of participating users: 21
begin factorization ... finished factorization

running task on client "71701-19146-60402..." with num of participating users: 18
begin factorization ... finished factorization

running task on client "90019-K7L5J-19382..." with num of participating users: 20
begin factorization ... finished factorization

running task on client "91919-95064-79070..." with num of participating users: 18
begin factorization ... finished factorization

running task on client "30030-92110-55428..." with num of participating users: 18
begin factorization ... finished factorization

running task on client "44212-97229-84105..." with num of participating users: 20
begin factorization ... finished factorization

running task on client "62901-59717-68767..." with num of participating users: 21
begin factorization ... finished factorization

running task on client "99687-45439-95110..." with num of participating users: 18
begin factorization ... finished factorization

running task on client "02176-85258-91351..." with num of participating users: 20
begin factorization ... finished factorization

running task on client "92653-14085-93055..." with num of participating users: 16
begin factorization ... finished factorization

running task on client "17036-39762-95076..." with num of participating users: 21
begin factorization ... finished factorization

running task on client "14627-01002-44106..." with num of participating users: 22
begin factorization ... finished factorization

running task on client "20015-07204-43215..." with num of participating users: 17
begin factorization ... finished factorization

running task on client "10522-73013-97208..." with num of participating users: 19
begin factorization ... finished factorization

running task on client "85233-28814-13210..." with num of participating users: 16
begin factorization ... finished factorization

running task on client "94043-78739-22030..." with num of participating users: 19
begin factorization ... finished factorization

running task on client "23092-13820-60630..." with num of participating users: 21
begin factorization ... finished factorization

running task on client "12603-63119-33755..." with num of participating users: 20
begin factorization ... finished factorization

running task on client "63130-94920-85032..." with num of participating users: 19
begin factorization ... finished factorization

running task on client "50322-94551-60152..." with num of participating users: 18
begin factorization ... finished factorization

running task on client "55109-16801-61820..." with num of participating users: 20
begin factorization ... finished factorization

running task on client "30350-30329-77042..." with num of participating users: 17
begin factorization ... finished factorization

running task on client "98038-85711-97302..." with num of participating users: 19
begin factorization ... finished factorization

running task on client "99206-64118-90008..." with num of participating users: 18
begin factorization ... finished factorization

running task on client "32605-48911-02125..." with num of participating users: 16
begin factorization ... finished factorization

running task on client "90291-23227-14216..." with num of participating users: 17
begin factorization ... finished factorization

running task on client "84116-20879-70116..." with num of participating users: 19
begin factorization ... finished factorization

running task on client "37771-18053-91335..." with num of participating users: 17
begin factorization ... finished factorization

running task on client "94533-66221-95821..." with num of participating users: 19
begin factorization ... finished factorization

In [97]:
# fetch all client saved variables as weakrefs, stored in 'server' as dict() notebook local variable in this case

clients_named_variables = {}
for client_uuid in manager.get_client_uuids():
  client_ref = manager.get_client_by_uuid(client_uuid)

  clients_named_variables[client_uuid] = {}

  for key in ['sigma']: # 'U', 'Vt'
    val = client_ref.get_named_variable_value(key)
    clients_named_variables[client_uuid][key] = val

In [98]:
# compiling sigma diag matrixes with averatge aggregation based on number of clients

sigmas = [i['sigma'] for i in clients_named_variables.values()]

sigma_avg = sigmas.pop(0)
for sig in sigmas:
  sigma_avg += sig

sigma_avg /= (len(sigmas) + 1)


# ship or broadcast aggregated sigma values to clients

for client_uuid in manager.get_client_uuids():
  client_ref = manager.get_client_by_uuid(client_uuid)
  client_ref.set_named_variable('sigma_agg', sigma_avg)


# inspec aggregated sigma values
sigma_avg, sigma_avg.shape

(array([[ 6.46480944,  0.        ,  0.        , ...,  0.        ,
          0.        ,  0.        ],
        [ 0.        ,  6.4918796 ,  0.        , ...,  0.        ,
          0.        ,  0.        ],
        [ 0.        ,  0.        ,  6.5338638 , ...,  0.        ,
          0.        ,  0.        ],
        ...,
        [ 0.        ,  0.        ,  0.        , ..., 21.20681108,
          0.        ,  0.        ],
        [ 0.        ,  0.        ,  0.        , ...,  0.        ,
         24.34698308,  0.        ],
        [ 0.        ,  0.        ,  0.        , ...,  0.        ,
          0.        , 61.35883253]]),
 (50, 50))

### perform inference with first instance of user on each cluster/client

In [99]:
def callback_predict(client):
  n_movies = 3
  user = client.get_db(DBKind.private, 'df_user_ratings')['user_id'].iloc[0] # for now uses first instance of the user on each client
  
  print('getting recommendation for user:', f'{user}', f', in cluster "{client.get_uuid()}"')

  U = client.get_named_variable_value('U')
  sigma = client.get_named_variable_value('sigma_agg')
  Vt = client.get_named_variable_value('Vt')

  new_local_mat_pred = np.dot(np.dot(U, sigma), Vt) 
  # i'll skip the mean addition at 'the mean time' since addition is linear operation and should not affect sorting of the result (hopefully)

  df_pred = pd.DataFrame(new_local_mat_pred)
  
  pred_movie_ids = df_pred.iloc[int(user)].sort_values(ascending=False)[:n_movies].index

  for n, movie_id in enumerate(pred_movie_ids):
    print(f'No.{n+1}'.ljust(5), fmt_movie_printout(movie_id))
  print()

manager.run_callback_on_clients(callback_predict)

getting recommendation for user: 737 , in cluster "62903-55038-49938..."
No.1  movie_id: 173    Raiders of the Lost Ark (1981)
No.2  movie_id: 227    Star Trek: The Wrath of Khan (1982)
No.3  movie_id: 88     Blade Runner (1982)

getting recommendation for user: 715 , in cluster "03060-11231-01701..."
No.1  movie_id: 196    Graduate, The (1967)
No.2  movie_id: 482    Casablanca (1942)
No.3  movie_id: 426    To Kill a Mockingbird (1962)

getting recommendation for user: 342 , in cluster "97203-60657-34656..."
No.1  movie_id: 422    E.T. the Extra-Terrestrial (1982)
No.2  movie_id: 482    Casablanca (1942)
No.3  movie_id: 257    Contact (1997)

getting recommendation for user: 582 , in cluster "91903-20006-55409..."
No.1  movie_id: 6      Twelve Monkeys (1995)
No.2  movie_id: 99     Fargo (1996)
No.3  movie_id: 285    English Patient, The (1996)

getting recommendation for user: 726 , in cluster "94560-27713-97405..."
No.1  movie_id: 172    Princess Bride, The (1987)
No.2  movie_id: 167    Monty Python and the Holy Grail (1974)
No.3  movie_id: 168    Wrong Trousers, The (1993)

getting recommendation for user: 183 , in cluster "43017-70403-14476..."
No.1  movie_id: 99     Fargo (1996)
No.2  movie_id: 317    Schindler's List (1993)
No.3  movie_id: 133    Citizen Kane (1941)

getting recommendation for user: 704 , in cluster "80236-05146-20057..."
No.1  movie_id: 120    Independence Day (ID4) (1996)
No.2  movie_id: 27     Apollo 13 (1995)
No.3  movie_id: 567    Speed (1994)

getting recommendation for user: 17 , in cluster "93063-11577-42141..."
No.1  movie_id: 97     Silence of the Lambs, The (1991)
No.2  movie_id: 99     Fargo (1996)
No.3  movie_id: 13     Postino, Il (1994)

getting recommendation for user: 311 , in cluster "04102-00000-33308..."
No.1  movie_id: 198    Bridge on the River Kwai, The (1957)
No.2  movie_id: 135    Mr. Smith Goes to Washington (1939)
No.3  movie_id: 481    Some Like It Hot (1959)

getting recommendation for user: 870 , in cluster "15237-60466-07039..."
No.1  movie_id: 126    Godfather, The (1972)
No.2  movie_id: 49     Star Wars (1977)
No.3  movie_id: 312    Titanic (1997)

getting recommendation for user: 907 , in cluster "15203-30068-55105..."
No.1  movie_id: 97     Silence of the Lambs, The (1991)
No.2  movie_id: 49     Star Wars (1977)
No.3  movie_id: 317    Schindler's List (1993)

getting recommendation for user: 725 , in cluster "32712-60615-97215..."
No.1  movie_id: 293    Liar Liar (1997)
No.2  movie_id: 0      Toy Story (1995)
No.3  movie_id: 299    Air Force One (1997)

getting recommendation for user: 762 , in cluster "80302-55408-92115..."
No.1  movie_id: 55     Pulp Fiction (1994)
No.2  movie_id: 99     Fargo (1996)
No.3  movie_id: 97     Silence of the Lambs, The (1991)

getting recommendation for user: 109 , in cluster "92660-44092-75240..."
No.1  movie_id: 312    Titanic (1997)
No.2  movie_id: 63     Shawshank Redemption, The (1994)
No.3  movie_id: 21     Braveheart (1995)

getting recommendation for user: 15 , in cluster "06512-98801-08534..."
No.1  movie_id: 63     Shawshank Redemption, The (1994)
No.2  movie_id: 55     Pulp Fiction (1994)
No.3  movie_id: 11     Usual Suspects, The (1995)

getting recommendation for user: 449 , in cluster "T8H1N-12180-33884..."
No.1  movie_id: 184    Psycho (1960)
No.2  movie_id: 301    L.A. Confidential (1997)
No.3  movie_id: 186    Godfather: Part II, The (1974)

getting recommendation for user: 117 , in cluster "08610-98257-20003..."
No.1  movie_id: 97     Silence of the Lambs, The (1991)
No.2  movie_id: 6      Twelve Monkeys (1995)
No.3  movie_id: 199    Shining, The (1980)

getting recommendation for user: 384 , in cluster "20707-48103-10003..."
No.1  movie_id: 602    Rear Window (1954)
No.2  movie_id: 407    Close Shave, A (1995)
No.3  movie_id: 168    Wrong Trousers, The (1993)

getting recommendation for user: 451 , in cluster "84103-91344-60440..."
No.1  movie_id: 99     Fargo (1996)
No.2  movie_id: 495    It's a Wonderful Life (1946)
No.3  movie_id: 49     Star Wars (1977)

getting recommendation for user: 197 , in cluster "Y1A6B-98620-55414..."
No.1  movie_id: 126    Godfather, The (1972)
No.2  movie_id: 173    Raiders of the Lost Ark (1981)
No.3  movie_id: 356    One Flew Over the Cuckoo's Nest (1975)

getting recommendation for user: 266 , in cluster "23237-75230-28450..."
No.1  movie_id: 88     Blade Runner (1982)
No.2  movie_id: 99     Fargo (1996)
No.3  movie_id: 126    Godfather, The (1972)

getting recommendation for user: 379 , in cluster "92020-06333-26241..."
No.1  movie_id: 285    English Patient, The (1996)
No.2  movie_id: 63     Shawshank Redemption, The (1994)
No.3  movie_id: 312    Titanic (1997)

getting recommendation for user: 424 , in cluster "71701-19146-60402..."
No.1  movie_id: 49     Star Wars (1977)
No.2  movie_id: 55     Pulp Fiction (1994)
No.3  movie_id: 11     Usual Suspects, The (1995)

getting recommendation for user: 306 , in cluster "90019-K7L5J-19382..."
No.1  movie_id: 49     Star Wars (1977)
No.2  movie_id: 227    Star Trek: The Wrath of Khan (1982)
No.3  movie_id: 180    Return of the Jedi (1983)

getting recommendation for user: 43 , in cluster "91919-95064-79070..."
No.1  movie_id: 227    Star Trek: The Wrath of Khan (1982)
No.2  movie_id: 6      Twelve Monkeys (1995)
No.3  movie_id: 134    2001: A Space Odyssey (1968)

getting recommendation for user: 659 , in cluster "30030-92110-55428..."
No.1  movie_id: 172    Princess Bride, The (1987)
No.2  movie_id: 167    Monty Python and the Holy Grail (1974)
No.3  movie_id: 49     Star Wars (1977)

getting recommendation for user: 193 , in cluster "44212-97229-84105..."
No.1  movie_id: 317    Schindler's List (1993)
No.2  movie_id: 63     Shawshank Redemption, The (1994)
No.3  movie_id: 99     Fargo (1996)

getting recommendation for user: 337 , in cluster "62901-59717-68767..."
No.1  movie_id: 133    Citizen Kane (1941)
No.2  movie_id: 482    Casablanca (1942)
No.3  movie_id: 196    Graduate, The (1967)

getting recommendation for user: 787 , in cluster "99687-45439-95110..."
No.1  movie_id: 21     Braveheart (1995)
No.2  movie_id: 299    Air Force One (1997)
No.3  movie_id: 285    English Patient, The (1996)

getting recommendation for user: 897 , in cluster "02176-85258-91351..."
No.1  movie_id: 312    Titanic (1997)
No.2  movie_id: 271    Good Will Hunting (1997)
No.3  movie_id: 301    L.A. Confidential (1997)

getting recommendation for user: 444 , in cluster "92653-14085-93055..."
No.1  movie_id: 55     Pulp Fiction (1994)
No.2  movie_id: 173    Raiders of the Lost Ark (1981)
No.3  movie_id: 78     Fugitive, The (1993)

getting recommendation for user: 120 , in cluster "17036-39762-95076..."
No.1  movie_id: 49     Star Wars (1977)
No.2  movie_id: 126    Godfather, The (1972)
No.3  movie_id: 99     Fargo (1996)

getting recommendation for user: 806 , in cluster "14627-01002-44106..."
No.1  movie_id: 180    Return of the Jedi (1983)
No.2  movie_id: 49     Star Wars (1977)
No.3  movie_id: 81     Jurassic Park (1993)

getting recommendation for user: 344 , in cluster "20015-07204-43215..."
No.1  movie_id: 99     Fargo (1996)
No.2  movie_id: 195    Dead Poets Society (1989)
No.3  movie_id: 11     Usual Suspects, The (1995)

getting recommendation for user: 292 , in cluster "10522-73013-97208..."
No.1  movie_id: 49     Star Wars (1977)
No.2  movie_id: 482    Casablanca (1942)
No.3  movie_id: 126    Godfather, The (1972)

getting recommendation for user: 785 , in cluster "85233-28814-13210..."
No.1  movie_id: 68     Forrest Gump (1994)
No.2  movie_id: 495    It's a Wonderful Life (1946)
No.3  movie_id: 215    When Harry Met Sally... (1989)

getting recommendation for user: 255 , in cluster "94043-78739-22030..."
No.1  movie_id: 11     Usual Suspects, The (1995)
No.2  movie_id: 78     Fugitive, The (1993)
No.3  movie_id: 116    Rock, The (1996)

getting recommendation for user: 845 , in cluster "23092-13820-60630..."
No.1  movie_id: 264    Hunt for Red October, The (1990)
No.2  movie_id: 172    Princess Bride, The (1987)
No.3  movie_id: 510    Lawrence of Arabia (1962)

getting recommendation for user: 812 , in cluster "12603-63119-33755..."
No.1  movie_id: 299    Air Force One (1997)
No.2  movie_id: 327    Conspiracy Theory (1997)
No.3  movie_id: 288    Evita (1996)

getting recommendation for user: 781 , in cluster "63130-94920-85032..."
No.1  movie_id: 299    Air Force One (1997)
No.2  movie_id: 312    Titanic (1997)
No.3  movie_id: 327    Conspiracy Theory (1997)

getting recommendation for user: 790 , in cluster "50322-94551-60152..."
No.1  movie_id: 299    Air Force One (1997)
No.2  movie_id: 49     Star Wars (1977)
No.3  movie_id: 285    English Patient, The (1996)

getting recommendation for user: 69 , in cluster "55109-16801-61820..."
No.1  movie_id: 171    Empire Strikes Back, The (1980)
No.2  movie_id: 0      Toy Story (1995)
No.3  movie_id: 49     Star Wars (1977)

getting recommendation for user: 431 , in cluster "30350-30329-77042..."
No.1  movie_id: 49     Star Wars (1977)
No.2  movie_id: 180    Return of the Jedi (1983)
No.3  movie_id: 236    Jerry Maguire (1996)

getting recommendation for user: 0 , in cluster "98038-85711-97302..."
No.1  movie_id: 99     Fargo (1996)
No.2  movie_id: 182    Alien (1979)
No.3  movie_id: 175    Aliens (1986)

getting recommendation for user: 560 , in cluster "99206-64118-90008..."
No.1  movie_id: 99     Fargo (1996)
No.2  movie_id: 55     Pulp Fiction (1994)
No.3  movie_id: 174    Brazil (1985)

getting recommendation for user: 776 , in cluster "32605-48911-02125..."
No.1  movie_id: 356    One Flew Over the Cuckoo's Nest (1975)
No.2  movie_id: 55     Pulp Fiction (1994)
No.3  movie_id: 179    Apocalypse Now (1979)

getting recommendation for user: 902 , in cluster "90291-23227-14216..."
No.1  movie_id: 126    Godfather, The (1972)
No.2  movie_id: 99     Fargo (1996)
No.3  movie_id: 186    Godfather: Part II, The (1974)

getting recommendation for user: 206 , in cluster "84116-20879-70116..."
No.1  movie_id: 317    Schindler's List (1993)
No.2  movie_id: 126    Godfather, The (1972)
No.3  movie_id: 356    One Flew Over the Cuckoo's Nest (1975)

getting recommendation for user: 22 , in cluster "37771-18053-91335..."
No.1  movie_id: 257    Contact (1997)
No.2  movie_id: 88     Blade Runner (1982)
No.3  movie_id: 274    Sense and Sensibility (1995)

getting recommendation for user: 283 , in cluster "94533-66221-95821..."
No.1  movie_id: 301    L.A. Confidential (1997)
No.2  movie_id: 268    Full Monty, The (1997)
No.3  movie_id: 271    Good Will Hunting (1997)